<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Buscar pelicula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar película"
    animated
    (ionChange)="search($event)"
    debounce="700"
    [value]="searchText">
  </ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-grid *ngIf="searching">
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let sugerencia of sugerencias" (click)="searchText = sugerencia">
      <ion-label color="primary">{{ sugerencia }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies" (click)="seeDetails(movie.id)">
        <ion-card>
          <img [src]="movie.poster_path | imagen" alt="">
          <ion-card-header>
            <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ movie.title }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
